{
    "presets": [
        "vue",
        ["env", {
            "modules": false
        }],
        "typescript"
    ],
    "plugins": [
        "add-module-exports",
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 2,
                "helpers": true,
                "regenerator": true,
                "useESModules": true
            }
        ]
    ]
}